<ion-view view-title="Purchase Powerball Tickets">
  <ion-content style=" overflow: hidden">
      <form ng-submit="addTicket()">
        <div class="greentitle" style="padding-top:1em;">
            <b>Select Your Numbers: </b>
        </div>
        <div class="lottonumber">
          <label class="item">
              <input type="text" maxlength ="2" style="text-align: center" ng-model="ticket.b1" required>
          </label>
        </div>
        <div class="lottonumber">
          <label class="item">
              <input type="text" maxlength ="2" style="text-align: center" ng-model="ticket.b2" required>
          </label>
        </div>
        <div class="lottonumber">
          <label class="item">
              <input type="text" maxlength ="2" style="text-align: center" ng-model="ticket.b3" required>
          </label>
        </div>
        <div class="lottonumber">
          <label class="item">
              <input type="text" maxlength ="2" style="text-align: center" ng-model="ticket.b4" required>
          </label>
        </div>
        <div class="lottonumber">
          <label class="item">
              <input type="text" maxlength ="2" style="text-align: center" ng-model="ticket.b5" required>
          </label>
        </div>
        <div class="lottonumber">
          <label class="item">
              <input type="text" maxlength ="2" style="text-align: center" ng-model="ticket.b6" required>
          </label>
        </div>
        <div class="powerplay" style="padding-top:10em">
          <b>Would you like to make it a power-play? </b>
          <div>
            <input type="radio" ng-model="price.powerplay" value="3.00" > yes<br>
            <input checked="checked" type="radio" ng-model="price.powerplay" value="2.00"> no<br>
          </div>
        </div>
        <div class="powerplay" style="padding-top:2em">
            <b>Current Total: ${{price.powerplay}}</b>
        </div>
        <div ng-disabled="checkTicket()" style="text-align:center; padding-top:4em">
            <a class="button button-positive" ng-click="storeTicketInfo()">Purchase Ticket</a>
        </div>
       
      </form>
  </ion-content>
</ion-view>
