/* Empty. Add your own CSS if you like */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tickettext{
    padding-top:3em;
    font-size: 18.5px;
    text-align: center;
}

.pbIndicator{
    padding-top:3em;
    font-size: 12px;
    text-align: center;
    padding-left: 190px;
}

.pbnumber{
    font-size: 22px;
    text-align: center;
}

.lottonumber{
    width: 5px;
    height: 5px;
    display: block;
    float: left;
    padding: 7.35%;
}

.greentitle{
    color: #41c670;
    font-size: 24px;
    text-align:center;
}

.powerplay{
    color: #41c670;
    font-size: 12px;
    text-align:center;
}

.subText {
   color: #41c670;
   font-size:18px;
   text-align:center;
}

.popup_text{
    color: black;
}